{% extends 'base.html' %}
{% block content %}
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">

    <div>
        <h2 style="margin: 1rem 1rem;"> Create Csv </h2>

    </div>

    <h4 style="font-weight: normal"> Clicking on the button will add the current vehicle data to a csv file vehicles.csv.</h4>
    <div>
        <form style="margin: 1rem 1rem;" action="/create_csv" method="post">
            <button class="btn btn-success btn-lg active" role="button" aria-pressed="true"
                    type="submit" id="seedDs">Create Csv file</button>
        </form>
    </div>

    {% if success_message %}
        <div style='margin: 1rem 0; text-align: center; font-size: 1.5rem; padding: 1rem' class="alert alert-success" role="alert">
            {{ success_message }}
        </div>
    {% endif %}
</div>
{% endblock %}